@page "/gamescategoies/edit/{Id:int}"

@using CurrieTechnologies.Razor.SweetAlert2
@using ModHub.Shared.Entities

@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService swal

<h1>Actualizar datos</h1>

@if(gameCategory is null)
{
    <div class="spinner"/>
    <p>Cargando...</p>
}
else
{
    <GamesCategoriesForm @ref="gameCategoryForm" GameCategory="gameCategory" OnValidSubmit="Edit" ReturnAction="Return"/>
}

@code {
    private GameCategory gameCategory;
    private GamesCategoriesForm gameCategoryForm;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var responseHttp = await repository.GetAsync<GameCategory>($"/api/gamescategories/{Id}");
        if (responseHttp.Error)
        {
            if (responseHttp.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("/gamescategories");
                return;
            }
            else
            {
                var message = await responseHttp.GetErrorMessage();
                await swal.FireAsync("Error", message, SweetAlertIcon.Error);
            }
        }
        else
        {
            gameCategory = responseHttp.Response;
        }
    }

    private async Task Edit()
    {
        var responseHttp = await repository.PutAsync($"/api/gamescategories", gameCategory);
        if (responseHttp.Error)
        {
            var errorMessage = await responseHttp.GetErrorMessage();
            await swal.FireAsync("Error", errorMessage, SweetAlertIcon.Error);
        }
        else
        {
            gameCategoryForm!.FormPostedSuccessfully = true;
            navigationManager.NavigateTo("/gamescategories");
        }
    }

    private void Return()
    {
        navigationManager.NavigateTo("/gamescategories");
    }
}

