@page "/"
@using Microsoft.AspNetCore.Components.Authorization

<PageTitle>Home</PageTitle>
<AuthorizeView Roles="Admin">
    <Authorized>
        <p>Estas autenticado y autorizado, @context.User.Identity?.Name</p>
    </Authorized>
    <NotAuthorized>
        <p>No estas autorizado</p>
    </NotAuthorized>

</AuthorizeView>

<h1>ModHub</h1>
<div>
    <p align="center">Bienvenido a <b>ModHub,</b> una página en donde podras subir los <b>mods</b> de los juegos que quieras, cuando quieras.</p>
    <div align="center">
        <img src="./images/4e4f109955b63431d0ae5fde1b166d75.gif"/>
    </div>
</div>
