@page "/creators"
@using CurrieTechnologies.Razor.SweetAlert2
@using ModHub.Shared.Entities
@using ModHub.WEB.Repositories
@using ModHub.WEB.Shared

@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService swal

<h1>Creadores</h1>

@if(Creators is null)
{
    <div class="spinner"/>
    <a class="btn btn-outline-primary float-end" href="/creators/create"><i class="bi bi-person-fill-add"></i> Añadir Creador</a>
}
else
{
    <GenericList MyList="Creators" CreateUrl="/creators/create">
        <Body>
            <div class="card">
                <div class="card-header">
                    <span>
                        <i class="bi bi-person-fill"></i> Creadores
                        <a class="btn btn-sm btn-primary float-end" href="/creators/create"><i class="bi bi-person-fill-add"></i> Añadir Creador</a>
                    </span>
                </div>
                <div class="card-body">
                    <div class="mb-2" style="display: flex; flex-wrap:wrap; align-items: center;">
                        <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Correo Electrónico</th>
                                <th>Fecha de Registro</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var creator in Creators)
                            {
                                <tr>
                                    <td>@creator.FullName</td>
                                    <td>@creator.Email</td>
                                    <td>@creator.DateRegistration.ToString("d")</td>
                                    <td>
                                        <a href="/creators/edit/@creator.Id" class="btn btn-warning btn-sm"><i class="bi bi-pencil-fill" /> Editar</a>
                                        <button class="btn btn-danger btn-sm" @onclick=@(() => Delete(creator))><i class="bi bi-trash-fill" /> Borrar</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </Body>
    </GenericList>
}

@code {
    public List<Creator> Creators { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await Load();
    }

    private async Task Load()
    {
        var responseHttp = await repository.GetAsync<List<Creator>>("api/creators");
        Creators = responseHttp.Response!;
    }

    private async Task Delete(Creator creator)
    {
        var result = await swal.FireAsync(new SweetAlertOptions
        {
            Title = "¿Estas seguro?",
            Text = "No podras revertir este cambio.",
            Icon = SweetAlertIcon.Warning,
            ShowCancelButton = true,
            ConfirmButtonText = "Si, eliminar",
            CancelButtonText = "Cancelar"
        });

        var confirmation = string.IsNullOrEmpty(result.Value);

        if (confirmation)
        {
            return;
        }

        var responseHttp = await repository.DeleteAsync($"api/creators/{creator.Id}");

        if (responseHttp.Error)
        {
            if (responseHttp.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("/");
            }
            else
            {
                var errorMessage = await responseHttp.GetErrorMessage();
                await swal.FireAsync("Error", errorMessage, SweetAlertIcon.Error);
            }
        }
        else
        {
            await Load();
        }
    }
}
