@page "/creators/edit/{Id:int}"

@using CurrieTechnologies.Razor.SweetAlert2
@using ModHub.Shared.Entities

@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService swal

<h1>Actualizar datos</h1>

@if(creator is null)
{
    <div class="spinner"/>
    <p>Cargando...</p>
}
else
{
    <CreatorsForm @ref="creatorForm" Creator="creator" OnValidSubmit="Edit" ReturnAction="Return"/>
}

@code {
    private Creator creator;
    private CreatorsForm creatorForm;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var responseHttp = await repository.GetAsync<Creator>($"/api/creators/{Id}");
        if (responseHttp.Error)
        {
            if (responseHttp.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("/creators");
                return;
            }
            else
            {
                var message = await responseHttp.GetErrorMessage();
                await swal.FireAsync("Error", message, SweetAlertIcon.Error);
            }
        }
        else
        {
            creator = responseHttp.Response;
        }
    }

    private async Task Edit()
    {
        var responseHttp = await repository.PutAsync($"/api/creators", creator);
        if (responseHttp.Error)
        {
            var errorMessage = await responseHttp.GetErrorMessage();
            await swal.FireAsync("Error", errorMessage, SweetAlertIcon.Error);
        }
        else
        {
            creatorForm!.FormPostedSuccessfully = true;
            navigationManager.NavigateTo("/creators");
        }
    }

    private void Return()
    {
        navigationManager.NavigateTo("/creators");
    }
}
