﻿@page "/reports"
@using CurrieTechnologies.Razor.SweetAlert2
@using ModHub.Shared.Entities
@using ModHub.WEB.Repositories
@using ModHub.WEB.Shared

@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService swal

<h1>Reportes</h1>

@if(Reports is null)
{
    <div class="spinner"/>
    <a class="btn btn-outline-primary float-end" href="/reports/create"><i class="bi bi-person-fill-add"></i> Añadir Reporte</a>
}
else
{
    <GenericList MyList="Reports" CreateUrl="/reports/create">
        <Body>
            <div class="card">
                <div class="card-header">
                    <span>
                        <i class="bi bi-person-fill"></i> Reportes
                        <a class="btn btn-sm btn-primary float-end" href="/reports/create"><i class="bi bi-person-fill-add"></i> Añadir Reporte</a>
                    </span>
                </div>
            </div>
            <div class="card-body">
                <div class="mb-2" style="display: flex; flex-wrap:wrap; align-items: center;">
                    <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Titulo</th>
                            <th>Contenido</th>
                            <th>Mod</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var report in Reports)
                        {
                            <tr>
                                <td>@report.Title</td>
                                <td>@report.Content</td>
                                <td>@GetModName(report.ModId)</td>
                                <td>
                                    <a href="/reports/edit/@report.Id" class="btn btn-warning btn-sm"><i class="bi bi-pencil-fill" /> Editar</a>
                                    <button class="btn btn-danger btn-sm" @onclick=@(() => Delete(report))><i class="bi bi-trash-fill" /> Borrar</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                </div>
            </div>
        </Body>
    </GenericList>
}

@code {
    public List<Report> Reports { get; set; }
    public List<Mod> Mods { get; set; }

    private string GetModName(int modId)
    {
        var mod = Mods.FirstOrDefault(m => m.Id == modId);
        return mod != null ? $"{mod.Name}" : "N/A";
    }

    protected override async Task OnInitializedAsync()
    {
        await Load();
    }

    private async Task Load()
    {
        var responseHttp = await repository.GetAsync<List<Report>>("api/reports");
        Reports = responseHttp.Response!;

        var ModResponseHttp = await repository.GetAsync<List<Mod>>("api/mods");
        Mods = ModResponseHttp.Response!;
    }

    private async Task Delete(Report report)
    {
        var result = await swal.FireAsync(new SweetAlertOptions
        {
            Title = "¿Estas seguro?",
            Text = "No podras revertir este cambio.",
            Icon = SweetAlertIcon.Warning,
            ShowCancelButton = true,
            ConfirmButtonText = "Si, eliminar",
            CancelButtonText = "Cancelar"
        });

        var confirmation = string.IsNullOrEmpty(result.Value);

        if (confirmation)
        {
            return;
        }

        var responseHttp = await repository.DeleteAsync($"api/reports/{report.Id}");

        if (responseHttp.Error)
        {
            if (responseHttp.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("/");
            }
            else
            {
                var errorMessage = await responseHttp.GetErrorMessage();
                await swal.FireAsync("Error", errorMessage, SweetAlertIcon.Error);
            }
        }
        else
        {
            await Load();
        }
    }
}