@using ModHub.WEB.Shared
@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthLinks/>
            <a style="text-decoration: none; color: aliceblue" href="https://github.com/zArby23/ModHub" target="_blank">
                <i class="bi bi-github"></i>
                <b>GitHub Repository</b>
            </a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
