@using Microsoft.AspNetCore.Components.Authorization
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ModHub.WEB</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        @* Inicio *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Inicio
            </NavLink>
        </div>

        @* Creadores *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Creators">
                <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> Creadores
            </NavLink>
        </div>

        @* Juegos *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Games">
                <span class="bi bi-dpad-fill-nav-menu" aria-hidden="true"></span> Juegos
            </NavLink>
        </div>

        @*mostrar categorias solo a admins*@
    <AuthorizeView Roles="Admin">
        <Authorized>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Categories">
                <span class="bi bi-dpad-fill-nav-menu" aria-hidden="true"></span> Categorias
            </NavLink>
        </div>
        </Authorized>
    </AuthorizeView>

        @* Foros *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Forums">
                <span class="bi bi-dpad-fill-nav-menu" aria-hidden="true"></span> Foros
            </NavLink>
        </div>

        @*mostrar categorias de juegos solo a admins*@
        <AuthorizeView Roles="Admin">
        <Authorized>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="GamesCategories">
                <span class="bi bi-dpad-fill-nav-menu" aria-hidden="true"></span> Categorias de juegos
            </NavLink>
        </div>
            </Authorized>
        </AuthorizeView>

        @* Reportes *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Reports">
                <span class="bi bi-dpad-fill-nav-menu" aria-hidden="true"></span> Reportes
            </NavLink>
        </div>

        @* Mods *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Mods">
                <span class="bi bi-dpad-fill-nav-menu" aria-hidden="true"></span> Mods
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
